/* =========================
   MAIN CONTAINER
========================= */
.about-box {
  background: #e9e9e9;
  border-radius: 20px;
  /* padding: 40px; */
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 30px;
  align-items: center;
}

/* =========================
   TEXT
========================= */

.about-content{
  /* padding: 40px; */
  padding-left: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.about-content h2 {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 15px;
  color: #222;
}

.about-content p {
  font-size: 15px;
  color: rgba(17, 17, 17, 1);
  line-height: 1.3;
  margin-bottom: 15px;
}

/* BUTTON */
.about-btn {
  background: rgba(0, 47, 141, 1);
  color: #fff;
  border: none;
  padding: 10px 26px;
  border-radius: 10px;
  font-weight: 500;
  /* margin-top: 10px; */
  transition: 0.3s;
}

.about-btn:hover {
  background: #122c55;
}

/* =========================
   IMAGE
========================= */
.about-image img {
  width: 100%;
 border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  object-fit: cover;

}

/* =========================
   📱 TABLET (≤ 992px)
========================= */
@media (max-width: 992px) {
  .about-box {
    grid-template-columns: 1fr 1fr; /* keep 2 columns */
    gap: 20px;
  }

  .about-content {
    padding-left: 25px;
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .about-content h2 {
    font-size: 26px;
  }

  .about-content p {
    font-size: 14px;
  }
}


/* =========================
   📱 MOBILE (≤ 768px)
========================= */
@media (max-width: 768px) {
  .about-box {
    grid-template-columns: 1fr; /* stack */
    text-align: center;
    padding: 20px;
  }

  .about-content {
    padding: 0;
  }

  .about-content h2 {
    font-size: 22px;
  }

  .about-content p {
    font-size: 16px;
  }

  .about-btn {
    width: 100%;
    margin-top: 10px;
  }

  .about-image {
    margin-top: 15px;
  }

  .about-image img {

    border-radius: 12px;
     /* optional polish */
  }
}