.stats {
  text-align: center;
}

.stats-title {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 15px;
  color: rgba(17, 17, 17, 1);
  font-family: 'Euclid';

}

.stats-grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(0, 1fr));
  text-align: center;
}

.stat-item {
  padding: 0 1.5rem;
  position: relative;
}

.stat-item:not(:last-child)::after {
  content: '';
  position: absolute;
  right: 0;
  top: 15%;
  height: 60%;
  width: 0;

  border-right: 2px solid; 

  border-image: linear-gradient(
    180deg,
    rgba(226, 45, 12, 0) 0%,
    #E22D0C 50%,
    rgba(226, 45, 12, 0) 100%
  );

  border-image-slice: 1; 
}

.stat-number {
  font-size: 40px;
  font-weight: 600;
  color: #1a3a6e;
  margin: 0 0 0.5rem;
  line-height: 1.1;
  margin-left: 20px;
  font-family: 'Euclid';

}

.stat-label {
  font-size: 15px;
  color: rgba(17, 17, 17, 1);
  line-height: 1.4;
  margin: 0;
  max-width: 30ch;
  text-align: center;
  font-family: 'Euclid';
  font-weight: 500;
  margin-right: -20px;

}



@media (max-width: 1024px) {

  .stats-grid {
    grid-template-columns: repeat(2, 1fr); 
    gap: 30px;
  }

  .stat-item::after {
    display: none;
  }

  .stat-item {
    padding: 10px;
  }
}



@media (max-width: 768px) {

  .stats-title {
    font-size: 29px;
  }

  .stats-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .stat-item::after {
    display: none;
  }

  .stat-item {
    /* padding: 10px; */
  }

  .side-space{
  padding-left: 15px;
  padding-right:  10px;
}


  .stat-number {
    font-size: 29px;
    margin-left: 0;
  }

  .stat-label {
    font-size: 20px;
    max-width: 100%;
  }

}