/* =========================
   GRID CONTAINER
========================= */
.cards-row {
  display: grid;
  grid-template-columns: repeat(7, 1fr); /* Desktop */
  gap: 10px;
  padding-top: 40px;
  padding-bottom: 40px;
}


/* =========================
   CARD
========================= */
.stat-card {
  background: #e9e9e9;
  border-radius: 18px;
  padding: 10px 10px;
  text-align: center;
  position: relative;
  transition: 0.3s;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 140px;
}

/* TOP BORDER COLORS */
.stat-card.orange {
  border-top: 5px solid #f25c05;
}

.stat-card.blue {
  border-top: 5px solid #1a3a6e;
}

/* NUMBER */
.stat-card h3 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 10px;
}

/* LABEL */
.stat-card p {
  font-size: 16px;
  margin-bottom: 10px;
  color: #333;
}

/* ARROW */
.arrow {
  font-size: 20px;
  color: #000;
}

/* HOVER */
.stat-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

/* =========================
   📱 TABLET (≤ 992px)
========================= */
@media (max-width: 992px) {
  .cards-row {
    grid-template-columns: repeat(3, 1fr);
  }

  .stat-card {
    padding: 25px 15px;
  }

  
  /* Center last card */
  .cards-row > div:last-child {
    grid-column: 2 / 3;
  }
}


/* =========================
   📱 MOBILE (≤ 768px)
========================= */
@media (max-width: 768px) {
  .cards-row {
    grid-template-columns: repeat(2, 1fr);
  }

  .stat-card h3 {
    font-size: 24px;
  }

 

 

  /* Center last card */
  .cards-row > div:last-child {
    grid-column: 1 / -1;
    justify-self: center;
    width: 50%;
  }
}