*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.section-space{
  padding-top: 40px;
  padding-bottom: 40px;
}

.side-space{
  padding-left: 6%;
  padding-right: 6%;
}


@font-face {
  font-family: 'Euclid';
  src: url('./assets/fonts/Euclid\ Circular\ A\ Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Euclid';
  src: url('./assets/fonts/Euclid\ Circular\ A\ Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Euclid';
  src: url('./assets/fonts/Euclid\ Circular\ A\ Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Euclid';
  src: url('./assets/fonts/Euclid\ Circular\ A\ SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Euclid';
  src: url('./assets/fonts/Euclid\ Circular\ A\ Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Euclid-italic';
  src: url('./assets/fonts/Euclid\ Circular\ A\ Light\ Italic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}